body{background-color: blue;}
body{color: black;}
body{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h1{font-family: Georgia, 'Times New Roman', Times, serif;}
h1{color: black;}
